{ deps,
[
	{ want, 	{ git, "git://github.com/wrren/want.erl.git" } },
	{ url, 		{ git, "git://github.com/wrren/url.erl.git" } },
	{ hackney, 	"1.6.1" },
	{ jsx, 		{ git, "git://github.com/talentdeficit/jsx.git" } }
] }.

{ plugins, 
[
	rebar3_hex
] }.

{ ct_opts, [{ config, "config/test.config" }] }.