{ sub_dirs, [ "rel" ] }.
{ eunit_opts, [ verbose, { skip_deps, true } ] }.  
{ eunit_exclude_deps, true }.  
{ cover_enabled, true }.  
{ incl_app, jira, details }.  
{ incl_dirs_r, ["src", "test"] }.  
{ src_dirs, jira, ["src", "test"] }.  
{ deps_dir, [ "deps" ] }.
{ deps,
[
	{ want, 	".*",	{ git, "git://github.com/wrren/want.erl.git" } },
	{ url, 		".*",	{ git, "git://github.com/wrren/url.erl.git" } },
	{ hackney, 	".*", 	{ git, "git://github.com/benoitc/hackney.git", { branch, "master" } } },
	{ jsx, 		".*", 	{ git, "git://github.com/talentdeficit/jsx.git" } }
] }.