{ deps,[
	{ want, 	{ git, "https://github.com/wrren/want.erl.git",   {branch, "master"}}},
	{ url, 		{ git, "https://github.com/wrren/url.erl.git",    {branch, "master"}}},
	{ hackney, 	"1.6.1" },
	{ jsx, 		{ git, "https://github.com/talentdeficit/jsx.git",{branch, "master"}}} ] }.

{ plugins,  [ rebar3_hex ]}.

{ ct_opts, [{ config, "config/test.config" }] }.

{ eunit_tests, [{inparallel, jira_tests}] }.
